<% if @denial_code.errors.any? %>
  <% @denial_code.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit denial code #<%= @denial_code.id %>
</h1>

<hr>

<form action="/update_denial_code/<%= @denial_code.id %>" method="post">

  <div class="form-group">
    <label for="code">
      Code
    </label>

    <input type="text" id="code" name="code" class="form-control" value="<%= @denial_code.code %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update denial code
  </button>
</form>

<hr>

<a href="/denial_codes">
  Go back
</a>
