<% if @denial_code.present? %>
  <% if @denial_code.errors.any? %>
    <% @denial_code.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new denial code
</h1>


<hr>

<form action="/create_denial_code" method="post">

  <div class="form-group">
    <label for="code">
      Code
    </label>

    <input type="text" id="code" name="code" class="form-control" value="<%= @denial_code.code %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create denial code
  </button>
</form>

<hr>

<a href="/denial_codes">
  Go back
</a>
