<h1>
  Add a new denial code
</h1>


<hr>

<!-- Form denial_code start -->
<form action="/create_denial_code" method="post">
<!-- Form denial_code end -->

  <!-- Label and input for code start -->
  <div class="form-group">
    <label for="code">
      Code
    </label>

    <!-- Input for code start -->
    <input type="text" id="code" name="code" class="form-control">
    <!-- Input for code end -->
  </div>
  <!-- Label and input for code end -->

  <button class="btn btn-block btn-outline-secondary">
    Create denial code
  </button>
</form>

<hr>

<a href="/denial_codes">
  Go back
</a>
