<h1>
  Add a new denial code
</h1>


<hr>

<form action="/create_denial_code" method="post">

  <div class="form-group">
    <label for="code">
      Code
    </label>

    <input type="text" id="code" name="code" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create denial code
  </button>
</form>

<hr>

<a href="/denial_codes">
  Go back
</a>
