<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Pricings

    <a data-toggle="collapse" href="#medication_pricings_new_form">
      Add online pricing
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @medication.pricings.each do |online_pricing| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/online_pricings/<%= online_pricing.id %>">
          <%= online_pricing.provider %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_online_pricing_from_medication/<%= online_pricing.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="medication_pricings_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
