<h1>
  Edit veterinarian #<%= @veterinarian.id %>
</h1>

<hr>

<form action="/update_veterinarian/<%= @veterinarian.id %>" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @veterinarian.first_name %>">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @veterinarian.last_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update veterinarian
  </button>
</form>

<hr>

<a href="/veterinarians">
  Go back
</a>
