<h1>
  Add a new internal pricing
</h1>


<hr>

<form action="/create_internal_pricing" method="post">

  <div class="form-group">
    <label for="cet">
      Cet
    </label>

    <input type="text" id="cet" name="cet" class="form-control">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control">
  </div>

  <div class="form-group">
    <label for="cogs">
      Cogs
    </label>

    <input type="text" id="cogs" name="cogs" class="form-control">
  </div>

  <div class="form-group">
    <label for="medication_id">
      Medication
    </label>

    <%= select_tag(:medication_id, options_from_collection_for_select(Medication.all, :id, :name, @internal_pricing.medication_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create internal pricing
  </button>
</form>

<hr>

<a href="/internal_pricings">
  Go back
</a>
